$text-color:				#767676;
$subtext-color:				#767676;

$lsidebar-bg:				#16536e;

$userblock-bg:				#1d607d;
$user-greeting:				"Hello,";

$navigation-active-bg:		#114c66;
$navigation-active-border:	#489eba;
$navigation-active-icon:	#ffffff;
$navigation-inactive-icon:	#489eba;

$header-icon:				#9cd55e;
$notification-counter-bg:	#f39a64;

$widget-bg:					#ffffff;
$widget-border:				#e3e8eb;

$urgent-status:				#e43562;
$high-status:				#f59f59;
$medium-status:				#71bbd3;
$low-status:				#8cbc58;
$todo-action:				#a5a5a5;

$message-background:		#f4f4f4;
$message-active-background: #e4f2f9;

$primary-action-color:		#6cb8d0;
$secondary-action-color:	#a5a5a5;

$alert-default:				#d9d7e3;
$alert-success:				#93cd69;
$alert-error:				#f77994;
$alert-warning:				#ffcc6a;
$alert-info:				#6cb8d0;
$alert-tip:					#909090;


$blue-button:				#6cb8d0;
$yellow-button:				#ffcc6a;
$red-button:				#f77994;
$green-button:				#a3e076;

$input-border:				#cdcdcd;
$input-text-color:			#767676;


$progres-bar-default:		#edecf1;
$progress-bar-blue:			#6cb8d0;
$progress-bar-red:			#f77994;
$progress-bar-green:		#93cd69;
$progress-bar-yellow:		#ffcc6a;


$switch-default:			#edecf1;
$switch-red:				#f77994;
$switch-green:				#93cd69;
$switch-blue:				#6cb8d0;
$switch-yellow:				#ffcc6a;


$label-default:				#909090;
$label-blue:				#6cb8d0;
$label-yellow:				#ffcc6a;
$label-red:					#f77994;
$label-green:				#93cd69;

